<div ng-app="app">
  <div ng-controller="exerciseTimesCtrl" ng-init="setup()">

    <section id="clients" class="container">
      <div class="inner team">
        <h1 class="header light gray3 fancy"><span class="colored">My </span> Exercises</h1>
      </div>
    </section>

    <div class="row">
      <% @workout.exercises.each do |exercise| %>
        <div class="col-md-4">
          <h3>Name: <%= exercise.name %></h3>
          <% exercise.images.each do |image| %>
            <%= image_tag image.image_url, width: 250, height: 250  %>
          <% end %>
        <h3>What time do you want to workout?</h3>

 

        <div>
          Time: <input type="time" ng-model="newTime">
        </div>
          Day of the week: <select ng-model="dayId<%= exercise.id %>" ng-options="k as v for (k,v) in daysOfWeeks"></select>

        <button ng-click="addExerciseTime(<%= exercise.id %>, newTime, dayId<%= exercise.id %>)">Create Exercise Time</button>

        </div>
      <% end %>
    </div>
  </div>
</div>


