<%= form_tag "/comments/#{@comment.id}", method: :patch do %>
  <div>
    <%= label_tag :body %>
    <%= text_area_tag :body, @comment.body %>
  </div>
  <div>
    <%= hidden_field_tag "exercise_id", @exercise.id %>
  </div>
  <div>
    <%= submit_tag "Edit Comment" %>
  </div>
<% end %>