<h1>Edit exercise</h1>

<%= form_tag "/exercises/#{@exercise.id}", method: :patch do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @exercise.name%>
  </div>
  <div>
    <%= label_tag :muscle, "Muscle Worked" %>
    <%= text_field_tag :muscle, @exercise.muscle%>
  </div>
  <div>
    <%= label_tag :equipment, "Equipment Type" %>
    <%= text_field_tag :equipment, @exercise.equipment%>
  </div>
  <div>
    <%= label_tag :level %>
    <%= text_field_tag :level, @exercise.level%>
  </div>
  <div>
    <%= label_tag :instruction, "Instructions" %>
    <%= text_field_tag :instruction, @exercise.instruction, size: 100 %>
  </div>
  <div>
    <%= submit_tag "Update Exercise" %>
  </div>
<% end %>