<% @exercises.each do |exercise| %>
  <h3>Name: <%= exercise.name %></h3>
  <h3>Equipment Type: <%= exercise.equipment %></h3>
  <h3>Muscle worked: <%= exercise.muscle %></h3>
  <h3>Level: <%= exercise.level %></h3>
  <h3>Instructions: <%= exercise.instruction %></h3>
<% end %>