<div ng-app="app">
  <div ng-controller="exercisesCtrl" ng-init="setup()">

    <section id="clients" class="container">
      <div class="inner team">
        <h1 class="header light gray3 fancy"><span class="colored">Workout </span> Exercises</h1>
      </div>
    </section>

    <div class="flash-message" flash-message="2000" ></div> 

    <div class="row">
      <% @exercises.each do |exercise| %>
        <div class="col-md-4">
          <h3>Exercise: <%= exercise.name %></h3>
          <h3>Muscles targeted:<%= exercise.muscle %></h3>
          <% exercise.images.each do |image| %>
            <%= image_tag image.image_url, width: 250, height: 250  %>
          <% end %>
          <a href="/exercises/<%= exercise.id %>" class="btn btn-info" role="button">Click for more info</a>
          <div>
            Reps: <input ng-model="newReps">
          </div>
          <div>
            Sets: <input ng-model="newSets">
          </div>
            Select Workout
            <select ng-model="workoutId" ng-options="workout.name for workout in workouts"></select><br><br>
          
          <button ng-click="addToWorkout(newSets, newReps, <%= exercise.id %>, workoutId)">Add to Workout</button>
          
          <br><br>
          <div class="index-horizontal"></div>
        </div>
      <% end %>
    </div>
  </div>  
</div>


