<h3>Name: <%= @exercise.name %></h3>
<h3>Equipment Type: <%= @exercise.equipment %></h3>
<h3>Muscle worked: <%= @exercise.muscle %></h3>
<h3>Level: <%= @exercise.level %></h3>

<h3>Instuctions:</h3>
<ol>
  <h4>
    <% @instructions.each do |instruction| %>
      <li><%= instruction %></li>
    <% end %>
  </h4>
</ol>

<% @exercise.images.each do |image| %>
  <%= image_tag image.image.url, width: 400, height: 400 %>
<% end %>
<br><br>

<h4>Comments</h4>
<p><% @exercise.comments.each do |comment| %>
    <p><%= comment.body %>
  <% if current_user.id == comment.user_id %>
    <a rel="nofollow" data-method="delete" href="/comments/<%= comment.id %>", class="btn btn-info" role="button">Delete</a>
  <% end %>
    </p>
<% end %></p>

<h4>Add a comment</h4>

<%= form_tag "/comments", method: :post do %>
  <div>
    <%= label_tag :body %>
    <%= text_area_tag :body %>
  </div>
  <div>
    <%= hidden_field_tag "exercise_id", @exercise.id %>
  </div>
  <div>
    <%= submit_tag "Add Comment" %>
  </div>
<% end %>
<br>

<a href="/exercises/<%= @exercise.id %>/edit" class="btn btn-info" role="button">Edit Exercise</a>
<a rel="nofollow" data-method="delete" href="/exercises/<%= @exercise.id %>", class="btn btn-info" role="button">Delete Exercise</a>
<a href="/exercises/<%= @exercise.id %>/images/new" class="btn btn-info" role="button">Add Image</a>
<a href="/exercises/<%= @exercise.id %>/images/<%= @exercise.id %>/edit" class="btn btn-info" role="button">Edit Image</a>