<h3>Name: <%= @exercise.name %></h3>
<h3>Equipment Type: <%= @exercise.equipment %></h3>
<h3>Muscle worked: <%= @exercise.muscle %></h3>
<h3>Level: <%= @exercise.level %></h3>

<h3>Instuctions:</h3>
<ol>
  <h4>
    <% @instructions.each do |instruction| %>
      <li><%= instruction %></li>
    <% end %>
  </h4>
</ol>

<% @exercise.images.each do |image| %>
  <%= image_tag image.image.url, width: 400, height: 400 %>
<% end %>

<br><br>




<%= link_to "Edit Exercise", "/exercises/#{@exercise.id}/edit" %>
<hr>
<%= link_to "Delete Exercise", "/exercise", method: :delete %>
<hr>
<%= link_to "Add Image", "/exercises/#{@exercise.id}/images/new" %>
<hr>
<%= link_to "Edit Image", "/exercises/#{@exercise.id}/images/#{@exercise.id}/edit" %>