<h3>Name: <%= @exercise.name %></h3>
<h3>Equipment Type: <%= @exercise.equipment %></h3>
<h3>Muscle worked: <%= @exercise.muscle %></h3>
<h3>Level: <%= @exercise.level %></h3>

<h3>Instuctions:</h3>
<ol>
  <h4>
    <% @instructions.each do |instruction| %>
      <li><%= instruction %></li>
    <% end %>
  </h4>
</ol>

<% @exercise.images.each do |image| %>
  <%= image_tag image.image.url, width: 400, height: 400 %>
<% end %>
<br><br>

<h4>Comments</h4>
<p><% @exercise.comments.each do |comment| %>
    <p><%= comment.body %>
  <% if current_user.id == comment.user_id %>

    <a rel="nofollow" data-method="delete" href="/comments/<%= comment.id %>", class="btn btn-info" role="button">Delete</a>
  <% end %>
    </p>
<% end %></p>

<h4>Add a comment</h4>

<%= form_tag "/comments", method: :post do %>
  <div>
    <%= label_tag :body %>
    <%= text_area_tag :body %>
  </div>
  <div>
    <%= hidden_field_tag "exercise_id", @exercise.id %>
  </div>
  <div>
    <%= submit_tag "Add Comment" %>
  </div>
<% end %>
<br>

<%= link_to "Edit Exercise", "/exercises/#{@exercise.id}/edit" %>
<hr>
<%= link_to "Delete Exercise", "/exercises/#{@exercise.id}", method: :delete %>
<hr>
<%= link_to "Add Image", "/exercises/#{@exercise.id}/images/new" %>
<hr>
<%= link_to "Edit Image", "/exercises/#{@exercise.id}/images/#{@exercise.id}/edit" %>