<!DOCTYPE html>
<html>
<head>
  <title>FitnessApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Navigation -->
	<section id="navigation" class="dark-nav">
		<!-- Navigation Inner -->
		<div class="nav-inner">
			<!-- Site Logo -->
			<div class="site-logo fancy">
				<a href="#" id="logo-text" class="scroll logo">Get Fit!
				</a>
			</div><!-- End Site Logo -->
			<a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
			<!-- Navigation Menu -->
		    <div class="nav-menu" class="dropdown">
				<ul class="nav uppercase">
					<li><a href="/home">Home</a></li>
					<li><a href="/exercises">All Exercises</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Workouts<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create Workout", "/workouts/new" if current_user %></li>
              <li><%= link_to "My Workouts", "/workouts" if current_user %></li>            
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% Category.all.each do |category| %>
                <li><a href="/exercises?category=<%= category.name %>"><%= category.name %></a></li>
              <% end %>
            </ul>
          </li>      
					<li><%= link_to "Sign In", "/users/sign_in" unless current_user %></li>
        	<li><%= link_to "Sign Up", "/users/sign_up" unless current_user %></li>
					<li><%= link_to "Sign Out", "/users/sign_out", method: :delete if current_user %>
        </ul>
		  </div><!-- End Navigation Menu -->
		</div><!-- End Navigation Inner -->
	</section><!-- End Navigation Section -->
 

<div class="left">
	<%= yield %>
</div>



<script>
  $("a.about-icon").hover(function () {
    $(this).children("i").addClass("fa-spin");
 }, function(){
 	$(this).children("i").removeClass("fa-spin");
 });
</script>



</body>

</html>